<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="stylesheet" href="https://bootswatch.com/cerulean/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://localhost:3000/">เพลงพระราชนิพนธ์</a>
    </div>
     <ul class="nav navbar-nav navbar-right">
        <li><a href="http://localhost:3000/kingsong1">Kingsong1</a></li>
        <li><a href="http://localhost:3000/kingsong2">Kingsong2</a></li>
        <li><a href="http://localhost:3000/kingsong3">Kingsong3</a></li>
      </ul>
  </div>
</nav>
<div class="container">
<div class="row">
</div>
<div class="col-sm-12 text-center">
<div class="well well-sm">
  <h3>เพลงพระราชนิพนธ์</h3><br>
  <p>พระบาทสมเด็จพระเจ้าอยู่หัวภูมิพลอดุลยเดชฯ ทรงเป็นพระมหากษัตริย์ที่เคารพรักและเทิดทูนของปวงชนชาวไทย เช่นเดียวกับพระมหาบูรพกษัตริย์ทุกพระองค์ แห่งราชวงศ์จักรีที่ปกครองประเทศ โครงการงานในพระราชดำริมากมายที่พระองค์ทรงริเริ่ม ได้สร้างประโยชน์สุขให้แก่พสกนิกร ทั่วราชอาณาจักร เป็นที่เลื่อมใสศรัทธาของนานาประเทศ ถึงกับมีผู้กล่าวไว้ว่า พระองค์ทรงเป็นพระมหากษัตริย์ที่ทรงแต่งานเป็นกิจวัตรหลัก เป็นที่น่าพิศวงยิ่งนัก แม้พระองค์จะทรงมีภารกิจต่างๆ มากมาย แต่พระองค์ก็ยังทรงมีเวลาสร้างสรรค์พระราชนิพนธ์ทางดนตรี ที่มีความไพเราะไว้มาก ซึ่งยังติดตรึงใจปวงชนชาวไทยตลอดมา</p>
  <p><a href="http://localhost:3000/kingsong1">แสงเทียน (Candlelight Blues)</a></p>
  <p><a href="http://localhost:3000/kingsong2">สายลม (I Think of You)</a></p>
  <p><a href="http://localhost:3000/kingsong3">สายฝน (Falling Rain)</a></p>
</div>
</div>
</div>
</body>
</html>
