<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="stylesheet" href="https://bootswatch.com/cerulean/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="https://guarded-sea-99998.herokuapp.com/">เพลงพระราชนิพนธ์</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="https://guarded-sea-99998.herokuapp.com/">Home</a></li>
        <li><a href="https://guarded-sea-99998.herokuapp.com/kingsong1">Kingsong1</a></li>
        <li><a href="https://guarded-sea-99998.herokuapp.com/kingsong2">Kingsong2</a></li>
        <li><a href="https://guarded-sea-99998.herokuapp.com/kingsong3">Kingsong3</a></li>
      </ul>
  </div>
</nav>
<div class="container">
<div class="row">
<div class="col-sm-6">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><span class="glyphicon glyphicon-music"></span>&nbsp;สายลม (I Think of You) </h3>
  </div>
  <div class="panel-body">
    <iframe width="520" height="315" src="https://www.youtube.com/embed/vsaWlDV8ErU" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
</div>
<div class="col-sm-6">
  <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><span class="glyphicon glyphicon-equalizer"></span>&nbsp;เนื้อเพลง(Thai)</h3>
  </div>
  <div class="panel-body">
    <p>&nbsp;ท่ามกลางฟากฟ้ามัวหม่น&nbsp;ลิ่วลมหลั่งฝนโปรยทั่ว</p>
    <p>เยือกเย็นชีพเฉาเมามัว&nbsp;จิตใจไหวหวาดกลัวหวั่นฟ้าคำรามลั่น</p>
    
    <p>โรจน์เรืองแปลบแสงฟ้าผ่า&nbsp;ล่องลอยลิ่วมาเสียงสนั่น</p>
    <p>โอ้ลมหนอลมพัดคืนวัน&nbsp;โบกโบยเพียงไหนกันพัดจนไม่รู้วันสงบเอย</p>
    <p>ต้องลมเหล่าไม้เอนลิ่ว&nbsp;ลู่ใบลุ่ยพลิ้วปลิวว่อน</p>
    <p>จิตใจอ่อนท้ออาทร&nbsp;ด้วยลมพัดโบกวอนล่องหนวนเวียนไป</p>
    <p>อย่าเป็นอย่างสายลมเล่า&nbsp;เปลี่ยนแปลงซึมเซาเหลิงรักใหม่</p>
    <p>โอ้ลมหนอลมพัดเลยไป&nbsp;โลกเคยรู้ฉันใดแล้วคงสุขสมใจยิ่งเอย</p>
  </div>
</div>
</div>
</div>
<div class="col-sm-12 text-center">
</div>
</div>
<footer class="footer footer-default text-center">
<div class="col-sm-12">
  <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/">
    <span class="fa fa-twitter" style="font-size:20px;color:4099FF"></span>
  </a>
  <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/">
    <span class="fa fa-facebook" style="font-size:20px;color:3b5998"></span>
  </a>
  <a class="btn btn-social-icon btn-google-plus" href="https://plus.google.com/">
    <span class="fa fa-google-plus" style="font-size:20px;color:#D50000"></span>
  </a>
   <a class="btn btn-social-icon btn-twitter" href="https://github.com/">
    <span class="fa fa-github" style="font-size:20px;color:#000000"></span>
  </a>
  <p>Themes for Bootswatch By <a href="https://bootswatch.com" data-toggle="tooltip" title="Visit w3schools">https://bootswatch.com/</a></p>
</div>
</footer>
</body>
</html>