<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="stylesheet" href="https://bootswatch.com/cerulean/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="https://guarded-sea-99998.herokuapp.com/">เพลงพระราชนิพนธ์</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="https://guarded-sea-99998.herokuapp.com/">Home</a></li>
        <li><a href="https://guarded-sea-99998.herokuapp.com/kingsong1">Kingsong1</a></li>
        <li><a href="https://guarded-sea-99998.herokuapp.com/kingsong2">Kingsong2</a></li>
        <li><a href="https://guarded-sea-99998.herokuapp.com/kingsong3">Kingsong3</a></li>
      </ul>
  </div>
</nav>
<div class="container">
<div class="row">
<div class="col-sm-6">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><span class="glyphicon glyphicon-music"></span>&nbsp;สายฝน (Falling Rain)</h3>
  </div>
  <div class="panel-body">
    <iframe width="520" height="315" src="https://www.youtube.com/embed/HDPa06OZn6A" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
</div>
<div class="col-sm-6">
  <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><span class="glyphicon glyphicon-equalizer"></span>&nbsp;เนื้อเพลง(Thai)</h3>
  </div>
  <div class="panel-body">
    <p>&nbsp;&nbsp;&nbsp;เมื่อลมฝนบนฟ้ามาลิ่ว&nbsp;ต้นไม้พลิ้วลู่กิ่งใบ</p>
    <p>เหมือนจะเอนรากคลอนถอนไป&nbsp;แต่เหล่าไม้ยิ่งกลับงาม</p>
    
    <p>พระพรหมท่านบันดาลให้ฝนหลั่ง&nbsp;เพื่อประทังชีวิตมิทราม</p>
    <p>น้ำทิพย์สาดเป็นสายพรายพลิ้วทิวงาม&nbsp;ทั่วเขตคามชุ่มธารา</p>
    <p>สาดเป็นสายพรายพลิ้วทิวทุ่ง&nbsp;แดดทอหรุ้งอร่ามตา</p>
    <p>รุ้งเลื่อมลายพร่างพรายนภา&nbsp;ยามเมื่อฝนมาแต่ไกล</p>
    <p>พระพรหมช่วยอำนวยให้ชื่นฉ่ำ&nbsp;เพื่อจะนำดับความร้อนใจ</p>
    <p>น้ำฝนหลั่งลงมาจากฟ้าแดนไกล &nbsp;พืชพรรณไม้ชื่นยืนยง</p>
  </div>
</div>
</div>
</div>
<div class="col-sm-12 text-center">
</div>
</div>
<footer class="footer footer-default text-center">
<div class="col-sm-12">
  <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/">
    <span class="fa fa-twitter" style="font-size:20px;color:4099FF"></span>
  </a>
  <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/">
    <span class="fa fa-facebook" style="font-size:20px;color:3b5998"></span>
  </a>
  <a class="btn btn-social-icon btn-google-plus" href="https://plus.google.com/">
    <span class="fa fa-google-plus" style="font-size:20px;color:#D50000"></span>
  </a>
   <a class="btn btn-social-icon btn-twitter" href="https://github.com/">
    <span class="fa fa-github" style="font-size:20px;color:#000000"></span>
  </a>
  <p>Themes for Bootswatch By <a href="https://bootswatch.com" data-toggle="tooltip" title="Visit w3schools">https://bootswatch.com/</a></p>
</div>
</footer>
</body>
</html>